#!/usr/bin/env zsh

alias j8='export JAVA_HOME=$(/usr/libexec/java_home -v 1.8); java -version'
alias j11='export JAVA_HOME=$(/usr/libexec/java_home -v 11); java -version'
alias j17='export JAVA_HOME=$(/usr/libexec/java_home -v 17); java -version'
alias j21='export JAVA_HOME=$(/usr/libexec/java_home -v 21); java -version'
alias j22='export JAVA_HOME=$(/usr/libexec/java_home -v 22); java -version'
alias j23='export JAVA_HOME=$(/usr/libexec/java_home -v 23); java -version'
alias j24='export JAVA_HOME=$(/usr/libexec/java_home -v 24); java -version'
alias j25='export JAVA_HOME=$(/usr/libexec/java_home -v 25); java -version'
alias graal="export JAVA_HOME=/Library/Java/JavaVirtualMachines/graalvm-jdk-21.0.2+13.1/Contents/Home"

# bat instead of cat
#alias cat='bat --style=plain'
alias cat='bat'

# Easier navigation:
alias ..="cd .."

alias l='eza'
alias ll='eza -lah'
alias ls='eza -lah --color=auto'
alias la='eza -lah'

# alias grep='rg'

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Get macOS Software Updates, and update installed Ruby gems, Homebrew, npm, and their installed packages
# alias update='sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup; npm install npm -g; npm update -g; sudo gem update --system; sudo gem update; sudo gem cleanup'

# Commands moved to ~/.dotfiles/scripts to avoid alias overuse:
# localip ifactive cleanup emptytrash show hide urlencode stfu pumpitup path lr hosts fix-spotlight gcl ccd cdx amp gemi copi sume sum

# copy file interactive
alias cp='cp -i'

# move file interactive
alias mv='mv -i'

# git aliases
alias gss='git status -s'
alias gc='git clone'
